.template-home {
	color: $color-blue-800;


	img {
		max-width: 100%;
		display: block;
		margin: {
			left: auto;
			right: auto;
		}
	}

	.button {
		display: block;
		text-align: center;
		margin-top: 4em;
		margin: {
			left: auto;
			right: auto;
		}
		@include media($tablet-up) {
			max-width: 300px;
		}
	}
	.section-slab-hero {
		position: relative;
		top: -7em;
		margin-bottom: -7em;
		padding-top: 10em;
		padding-bottom: 0;
		background-color: rgba($color-blue-200, .85);

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: url('../media/images/government_bg.jpg');
			background-position: cover;
			z-index: -1;
		}

		.subtitle {
			text-align: center;
			font-size: $h2-font-size;
			font-weight: bold;
			color: #fff;
			@include media($tablet-up) {
				font-size: $h1-font-size;
			}
		}

		.product-screenshot {
			max-width: 100%;
			margin-top: 2em;
			display: block;
		}
	}
	.section-slab-why {
		background-color: $color-blue-50;
	}
	.section-slab-how {		h3 {
			font-size: $base-font-size;
			margin: .5em 0 0 0;
		}
		p {
			margin-top: 0;
		}
		.feature-image {
			width: 75%;
			margin-bottom: 2em;
		}
	}
	.section-slab-cta {
		text-align: center;
		background-color: $color-blue-50;
		padding: {
			top: 3em;
			bottom: 3em;
		}
		h2 {
			margin-top: 0;
			margin-bottom: 0;
		}
		.button {
			margin-top: 2em;
		}
	}
}