.global-header {
	position: relative;
	z-index: 2;
	background-color: $color-blue-50;
	color: $color-blue-800;
	padding: 1.5em $site-margins;

	.homepage & {
		background-color: transparent;
	}

	.logo {
		margin: 0;
		a {
			display: block;
			width: 192px;
			height: 28px;
			background-image: url('../media/images/chime_logo.png');
			background-size: 100% auto;
			font-size: $base-font-size;
			text-indent: -9999px;
			color: inherit;
			text-decoration: none;
		}
	}
	.global-nav {
		padding-top: .3em;
		@include media($tablet-up) {
			text-align: right;
		}
		.global-nav-link {
			margin-right: 1em;
			color: inherit;
			text-decoration: none;
			display: inline-block;
			font-weight: bold;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}