.section-slab {
	margin: {
		left: -$site-margins;
		right: -$site-margins;
	}

	padding: 6em $site-margins;

	@include media($tablet-up) {
		padding: {
			top: 8em;
			bottom: 8em;
		}
	}

	.grid-box {
		max-width: $site-max-width;
		margin: {
			left: auto;
			right: auto;
		}
	}

	h2 {
		font-size: $h3-font-size;
		text-align: center;
		margin-top: 0;
		margin-bottom: 2em;
	}

}