<footer class="global-footer">
	<div class="grid-box">
		<div class="grid-item width-one-fourth">
			<img src="media/images/cfa_logo_white.png" alt="" class="cfa-logo">
		</div>
		<div class="grid-item width-one-fourth">
			<p class="dfd-initiative">A <strong>Digital Front <br> Door</strong> Initiative</p>
		</div>
		<div class="grid-item width-one-half end-row">
			<p class="colophon">Code for America Labs, Inc is a non-partisan, non-political 501(c)(3) organization. EIN number 27-1067272. Content is licensed through Creative Commons.</p>
		</div>
	</div>
	
</footer>
