---
layout: base
role: homepage
---

<div class="template-home">    
    <section class="section-slab section-slab-hero">
        <div class="grid-box">
            <div class="grid-item width-one-whole">
                <p class="subtitle">A simple, modern content management system designed for the work of government.</p>
                <a href="https://codeforamerica.wufoo.com/forms/chime-interest-form/" class="button button-red button-large">Register your interest for early access now!</a>
                <img class="product-screenshot" src="media/images/product-edit.png">
            </div>
            <div class="grid-item width-two-thirds shift-one-sixth">

            </div>
        </div>
    </section>

    <section class="section-slab section-slab-why">
        <div class="grid-box">
            <div class="grid-item width-two-thirds shift-one-sixth end-rw">
                <h2>In this new world, access for all means digital.</h2>
            </div>
            <div class="grid-item width-one-half">
              <p>Residents expect to find the same services online as they would find inside city hall. Further, we now know that 64% of American adults own a smartphone of some kind and many underserved citizens use a smartphone as their only means of online access. People need and expect to do city business from wherever they are.</p>
              <p>Through our work on Digital Front Door, we're tackling the underlying processes and principles required for Governments to meet their residents where they are.</p>  
            </div>
            <div class="grid-item width-one-third shift-one-sixth end-row">
                <img src="media/images/access.png" alt="community">
            </div>
            <div class="grid-item width-one-whole">
                <a href="www.codeforamerica.org/our-work/initiatives/digitalfrontdoor/" class="button button-blue">Learn more about Code for America's Digital Front Door initiative</a>
            </div>
        </div>
    </section>
    <section class="section-slab section-slab-how">
        <div class="grid-box">
            <div class="grid-item width-two-thirds shift-one-sixth">
                <h2>Built specifically for governments to meet the needs of their residents in the 21st century.</h2>
            </div>
            <div class="grid-item width-one-third">
                <img src="media/images/analytics.png" alt="analytics" class="feature-image feature-image-analytics">
                <h3>Site Analytics</h3>
                <p>Your site should be based on what your residents need. Track how well individual pages perform and modify content based on real data.</p>
            </div>
            <div class="grid-item width-one-third">
                <img src="media/images/responsive.png" alt="preview" class="feature-image feature-image-preview">
                <h3>Live Preview</h3>
                <p>Your content is being viewed on desktops, tablets, and smartphones. See how your content actually looks across devices before you publish.</p>
            </div>
            <div class="grid-item width-one-third end-row">
                <img src="media/images/review.png" alt="review" class="feature-image feature-image-review">
                <h3>Built-in Review Process</h3>
                <p>Every change should be verified by a second pair of eyes. Easily submit changes to other teammates for review.</p>
            </div>
            <!--div class="grid-item width-one-whole">
                <a href="" class="button button-blue">View all features</a>
            </div-->
        </div>
    </section>
    <section class="section-slab section-slab-cta">
        <div class="grid-box">
            <div class="grid-item width-one-whole">
                <h2>Ready to learn more about Chime?</h2>
                <a href="https://codeforamerica.wufoo.com/forms/chime-interest-form/" class="button button-large button-red">Register your interest for early access now!</a>
            </div>
        </div>
    </section>
</div>
